<%- include('../layouts/header.ejs') %>

<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-3 h-70">
      <div class="row d-flex justify-content-center align-items-center h-70">
        <div class="col col-xl-9">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 554px;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <img src="userimages/<%= user.image %>" width="100px" height="100px" alt="<%= user.image %>">
                    
                  <form action="" method="post" enctype="multipart/form-data">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Edit User</span>
                    </div>

                    <div class="form-outline mb-3">
                      <label class="form-label" for="form2Example27">Image</label>
                        <input type="file" id="form2Example27" name="image" class="form-control form-control-lg" required />

                    <input type="hidden" name="user_id" value="<%= user._id %>">

                    <div class="form-outline mb-3">
                      <label class="form-label" for="form2Example17">Name</label>
                        <input type="name" id="form2Example17" name="name" value="<%= user.name %>" class="form-control form-control-lg" required />
                    </div>

                    <div class="form-outline mb-3">
                      <label class="form-label" for="form2Example17">Email address</label>
                      <input type="email" id="form2Example17" name="email" value="<%= user.email %>" class="form-control form-control-lg" required />
                    </div>
  
                    <div class="form-outline mb-3">
                      <label class="form-label" for="form2Example27">Mobile</label>
                      <input type="text" id="form2Example27" name="mno" value="<%= user.mobile %>" class="form-control form-control-lg" required />
                    </div>

                  <input type="submit" value="Update Profile">
                
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('../layouts/footer.ejs') %>